.checklist-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 450px;
}

.checklist-list li {
    padding: 10px 12px;
}

.checklist-list li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}